@use './scss/variable' as variables;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: variables.$background-color;;
}

select:focus {
  outline: none;
}