$active-color: #FAC748;

$wrong-letter-color: #D32F2F;
$correct-letter-color: #0A9D58;
$bad-spot-letter-color: #FF9800;


/* $background-color: #F9E9EC; */
$button-color: #8390FA;
$accent-color: #FAC748;
$background-color: #1D2F6F;
$game-over-color: #E60F4F;
$important-color: #3CB371;
$main-font-color: #FFFFFF;
